/build/
/.idea/
/.dart_tool/
/test/
.flutter-plugins-dependencies
.flutter-plugins-dependencies
lib/core/notification/push/service-key.json
.env
.env.example

# FVM Version Cache
.fvm/
.fvm/versions/3.41.4
.fvm/versions/3.41.4
