<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174480345246-s02uhjigedu7cte9vj9j8d31dse95f8f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174480345246-s02uhjigedu7cte9vj9j8d31dse95f8f</string>
	<key>API_KEY</key>
	<string>AIzaSyA9jyI6-8bqnxIM5C3D3aU54hyPWautlDM</string>
	<key>GCM_SENDER_ID</key>
	<string>174480345246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.calidig.mybuddy</string>
	<key>PROJECT_ID</key>
	<string>replit-5dbf5</string>
	<key>STORAGE_BUCKET</key>
	<string>replit-5dbf5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174480345246:ios:b851ce1dd8b31bc471938f</string>
</dict>
</plist>